*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #333;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.musicPlayer{
    background: #ffe0e5;
    border-radius: 25px;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255,26,26,.22);
}
.songImg{
    width: 220px;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0 10px 10px rgba(255,26,26,.22);
}
.musicPlayer h1{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}
.musicPlayer p{
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f53192;
    border-radius: 5px;
    margin: 40px 0px;
    cursor: pointer;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255,26,26,.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(255,26,26,.22) ;
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.25);
    background: #f53192;
    color: #fff;
}