*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #333;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.musicPlayer{
    background: linear-gradient(rgb(255 102 12),black);
    border-radius: 25px;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
.songImg{
    width: 300px;
    border-radius: 10px;
}
.songname{
    text-align: left;
    margin: 25px 0px 15px 0px;
}
.musicPlayer h1{
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 3px;
}
.musicPlayer p{
    margin-top: 3px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    margin: 15px 0px;
    cursor: pointer;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.25);
    background: #fff;
    border-radius: 50%;
    color: #000;
}
.time {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Distribute space between elements */
}

.time span {
    font-size: 15px;
    color: #fff; 
}